<div class="wrap">
  <div>
    <h1>
      HTTP_CLIENT_DEMO
    </h1>

    <ul>
      <li *ngFor="let item of items">
        <h1>
          {{ item }}
        </h1>
      </li>
    </ul>
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <td>ItemName</td>
          <td>
            <input type="text" #item />
          </td>
          <td></td>
          <td>
            <button (click)="create(item.value)">Create</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
